@import "../../utils/scss/variables.scss";
@import "../../utils/scss/config.scss";

#home-section {
  width: 100vw;
  height: calc(100vh - 4.5rem);
  background-color: #232537;
}

.home__text {
  font-size: 1.35rem;
  color: $textWhite;
}

.home__p {
  font-size: 1.05rem;
  color: $textWhite;
  text-align: center;
}

.home__button {
  border: 2px solid $mainButtonWhite;
  background: $mainButtonWhite;
  color: #232537;
  box-sizing: inherit;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0.6rem 1.25rem;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  margin-top: 1.5rem;
  font-size: 1.05rem;
}
.home__button:hover {
  background-color: hsl(34, 100%, 82%);
  border-color: hsl(34, 100%, 82%);
}

@include media-md {
  .home__text {
    font-size: 2.7rem;
  }
  .home__p {
    font-size: 1.4rem;
  }
  .home__button {
    font-size: 1.2rem;
  }
}

@include media-lg {
  .home__text {
    font-size: 3.8rem;
  }
}
